@use "../../assets/scss/colors.scss" as colors;
@use "../../assets/scss/mixins.scss" as mixins;

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    position: relative;

    &__buttons {
        display: flex;
    }

    &__button {
        outline: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: colors.$color-button-light-grey;
        padding: 1rem;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 2rem;
        }

        i {
            font-size: 2.4rem;
        }

        span {
            font-size: 1.6rem;
            margin-left: 1rem;
            font-weight: 800;
        }

        &:last-child {
            width: fit-content;
            border-radius: 30px;
        }
    }

    h1 {
        font-size: 2.4rem;
    }

    &__dropdown {
        list-style-type: none;
        margin: 0;
        position: absolute;
        bottom: -100% * 2;
        right: 0;
        width: 100%;
        max-width: 20rem;
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid #EDF2F7;
        background-color: white;

        li {
            padding: 0;
            margin: 0;

        }
    }

    &__dropdownBtn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 100%;
        padding: 1.2rem 1rem;

        &:hover {
            background-color: colors.$color-button-light-grey;
        }
    }
}